<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/book_open_flat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/book_open_flat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RepublicOfThieves"
            android:label="@string/thieves" />
        <activity
            android:name=".RedSeas"
            android:label="@string/redskies" />
        <activity
            android:name=".LeanStartup"
            android:label="@string/lean" />
        <activity
            android:name=".PlayerActivity"
            android:label="@string/media_player" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/search" />
        <activity android:name=".StoreActivity"
            android:label="@string/store">
        </activity>
    </application>

</manifest>